<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Willkommen zur {{ title }}!
  </h1>
  <!-- <div class="aufgabe">
      <info-box></info-box>
  </div>
  <div class="aufgabe">
      <mouse-over></mouse-over>
  </div>
  <div class="aufgabe">
      <title-box [title]="'Mein Titel (click for ping event)'" (ping)="onPing($event)"></title-box>
      <title-box [title]="title"></title-box>
  </div> -->
   <div class="aufgabe">
        <router-outlet></router-outlet>
  </div>

</div>
